.comp-padded-link {

  cursor: pointer;

  &.inline {
    display: contents !important;
    text-decoration: underline;
    font-weight: bold;
  }

  &:hover {
    background: #CCEEED22;

    .invert & {
      color: #28D2CF;
    }
  }

  &:active,
  .active {
    background: #D9D9D922;
  }

}